@font-face{
  font-family: 'Marck Script', cursive;
}
.inline-blocks > .block{
  display: inline-block;
  vertical-align: middle;
}
.inline-blocks{
  text-align: center;
}
.message span{
  opacity: 0;
}
.happy{
  opacity: 0;
}
.image{
  height: 165px;
  width: 165px;
  border-radius: 180px;
  border: 3px solid #fff;
  margin-top: 13px;
  margin-right: 40px;
}

.twenty-one{
  font-size: 240px;
  font-family: 'Josefin Sans';
  font-weight: 100;
  line-height: 180px;
  color: #fff;
  margin: 40px 0;
}

.bday{
  font-size: 27px;
  color: #fff;
  font-family: 'Marck Script';
  font-weight: 300;
  text-align: center;
}

.cover{
  background: rgba(0,0,0,0.82);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1000;
}

#can{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.super-centered-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  background:#131313;
  overflow:hidden;
}

a{
  color: skyblue;
  text-decoration: none;
}

.overlay-static{
  position: relative;
  z-index: 1000;
  margin-bottom: 100px;
}
.press{
  display: none;
    position: absolute;
    top:220px;
    left: -125px; 
    animation: arrow 3s infinite ease-in-out;  
}
.press_mes{
  opacity: 0;
  position: relative;
  width: 150px;
  top: 247px;
  left: -151px;
}
.press_mes p{
  font-size: 22px;
}

body{
  background: url('https://scontent-b-lga.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10363958_10152205200177761_1841719403353895080_n.jpg?oh=6cd82b5e1aa4693339665bc4caa9806e&oe=5536E8FB');
  background-position: center center;
  background-size: contain;
}
.video{
  width: 50%;
  height: 50%;
  background: #FFF;
  display: none;
  z-index: 1000;
}
@keyframes arrow{
  0%{
      left:-125px;
  }
  50%{
      left: -86px;
  }
  100%{
      left:-125px;
  }
}